html, body, ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  background: #EDDEF2;
  color: #3073F9;
  height: 100vh;
}

h1 {
  font-size: 2rem;
}

h2 {
  padding-top: 2rem;
  padding-bottom: 0.35rem;
  font-size: 1.8rem;
}

h2:before {
  content: '<';
}

h2:after {
  content: ' />'
}

h2:before, h2:after {
  opacity: 0.30;
  letter-spacing: 10px;
}

h3, p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

a {
  color: #3073F9;
  padding-right: 1rem;
}

a:hover {
  background-color: #ddcce8;
}

a:after {
  content: ' →';
}

li {
  margin-bottom: 1rem;
}

input, textarea {
  background: #ddcce8;
  border: 1px solid #ddcce8;
  outline: none;
  font-size: 17px;
  font-family: 'Work Sans';
  margin-bottom: 10px;
  padding: 1rem;
  display: block;
  /*color: #7AA6F5;*/
  color: #3073F9;
}

textarea {
  max-width: 30rem;
  width: 100%;
}

textarea, .main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.button {
  background: #3979f9;
  color: #EDDEF2;
}

ul {
  position: absolute;
  right: 0.1rem;
  top: 40%;
}

.nav li, li a:after {
  border: 2px solid #3073F9;
  background: none;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  content: none;
  margin: 1rem;
}

.nav li {
  transition: all 0.2s ease-in-out;
}

.nav li:hover {
  /*transform: scale(1.5);*/
  background: #3073F9;
}

.nav a:hover {
  background: none;
}

.anchor, .anchor:after {
  text-decoration: none;
  content: none;
  padding-right: 0;
}

.main {
  background: #EDDEF2;
  float: left;
  width: 67%;
  max-height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.intro, .projects, .work, .links, .connect {
  padding: 0.8rem;
  padding-bottom: 2rem;
  width: 80%;
}

/*670px width breakpoint*/

.portrait {
  float: left;
  background-image: url('https://raw.githubusercontent.com/sprazzeus/images/master/me.jpg');
  background-size: cover;
  background-position: center;
  width: 33%;
  height: 100vh;
}


@media (max-width: 600px) {
  .main, .portrait {
    float: none;
    width: 100%;
  }

  .main {
    overflow: none;
    -webkit-overflow-scrolling: none;
  }

  .portrait {
    background-position: top;
    height: 50%;
  }
}
