html,
body,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto Slab", serif;
  font-size: 22px;
  background: white;
  color: #23242c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h4 {
  font-weight: 900;
}

a {
  color: black;
}

span.underline {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #9cffd9;
}

/* ul li::before {
  content: " ➜ ";
} */

.main {
  /* max-height: 100%; */
  margin: 60px 0;
}

.inner {
  margin: 0 auto;
  max-width: 60vw;
  display: flex;
  flex-direction: column;
}

.section {
  padding: 30px 0;
}

.intro {
  width: 80%;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

img.icon {
  height: 30px;
  vertical-align: middle;
}

.logo {
  width: 30px;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }
  img.icon {
    width: 18px;
  }
  .intro {
    width: 100%;
  }
  .links {
    width: 170px;
  }
}
